---
import Social from './social.astro';
---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>

<footer>
    <p>
        <Social platform="twitter" username="ander_salamanca" />
        <Social platform="github" username="AnderSalamanca" />
        <Social platform="youtube" username="Auronplay" />
    </p>
</footer>
